<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="base :: head"></th:block>

    <title>Deliveries - Qourier</title>
</head>
<style>
    .alert {
        padding: 20px;
        margin: auto;
        float: right;
        background-color: #b92e2e; /* Red */
        color: white;
    }
</style>
<body>

<!--  RIDER  -->

    <nav th:replace="base :: navbar"></nav>

<!--    <div id="delivery-notification" class="delivery-notification" style="display: none">-->
<!--        Your delivery bid has been accepted!-->
<!--    </div>-->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="non-permitted-content" th:unless="${permitted}">
                    <p id="non-permitted-message" th:text="${msg}">Account permission to access resource pending</p>
                </div>
                <div id="permitted-content" th:if="${permitted}" class="container">
                    <div id="info-delivery-available" th:style="${alreadyDelivering} ? 'display: none' : ''">
                        <h2>Deliveries to be processed</h2>
                        <p>Progress for each delivery:</p>
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">From</th>
                                        <th scope="col">To</th>
                                        <th scope="col">Interested</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="delivery : ${deliveries}">
                                            <td th:text="${delivery.deliveryId}"></td>
                                            <td th:text="${delivery.originAddr}"></td>
                                            <td th:text="${delivery.deliveryAddr}"></td>
                                            <td>
                                                <button id="btn-delivery-4" th:id="'btn-delivery-' + ${delivery.deliveryId}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                                    <i class="fa fa-duotone fa-check"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="info-delivery-assigned" style="display: none" th:style="${alreadyDelivering} ? '' : 'display: none'">
                        <h2>A delivery has already been assigned</h2>

                        <p>Customer: <span id="assigned-delivery-customer" th:text="${deliveryCustomer} ?: '?'"></span></p>
                        <p>Origin: <span id="assigned-delivery-origin" th:text="${deliveryOrigin} ?: '?'"></span></p>
                        <ul>
                            <li>Latitude: <span id="assigned-delivery-latitude" th:text="${deliveryLatitude} ?: '?'"></span></li>
                            <li>Longitude: <span id="assigned-delivery-longitude" th:text="${deliveryLongitude} ?: '?'"></span></li>
                        </ul>
                        <p></p>
                        <p>Destination: <span id="assigned-delivery-destination" th:text="${deliveryDestination} ?: '?'"></span></p>

                        <p>State: <span id="assigned-delivery-state" th:text="${deliveryState} ?: '?'"></span></p>

                        <form method="POST" action="/deliveries/progress" th:action="@{/deliveries/progress}">
                            <input id="form-update-delivery-rider" name="riderId" type="hidden" th:value="${riderId}"/>
                            <input id="form-update-delivery-id" name="deliveryId" type="hidden" th:value="${deliveryId}" />

                            <button id="pickup-delivery" type="submit" class="btn btn-primary" th:unless="${deliveryState != null && deliveryState.name() == 'SHIPPED'}">
                                Pick up
                            </button>
                            <button id="confirm-delivery" type="submit" class="btn btn-primary" th:if="${deliveryState != null && deliveryState.name() == 'SHIPPED'}">
                                Mark as finished
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input id="rider-id" type="hidden" th:value="${riderId}" />
    <input id="notification-topic" type="hidden" th:value="${notificationTopic}" />

    <!-- Modal -->
    <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Beware</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                By clicking Confirm you hereby consent to the rules and conditions associated with the delivery task.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="modal-btn-confirm" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
            </div>

            <input id="modal-attrs-url" type="hidden" value="#" th:value="@{/api/v1/deliveries/bid}" />
            <input id="modal-attrs-delivery" type="hidden" value="4" />
        </div>
        </div>
    </div>

    <th:block th:include="base :: scripts"></th:block>
    <script th:src="@{/scripts/base.js}" src="../static/scripts/base.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>

    <script>
        const riderId = $('#rider-id').val();
        const notificationTopic = $('#notification-topic').val();
        let lastReceivedNotification;
        let lastReceivedData;

        const ws = new WebSocket('ws://' + window.location.hostname + ':15674/ws');
        const client = StompJs.Stomp.over(ws);

        const on_message = function(msg) {
            console.log('received: ' + msg);
            lastReceivedNotification = msg;
            let deliveryId = lastReceivedNotification.body;

            if (deliveryId.length === 0)
                return;

            $('#info-delivery-available').hide();
            $('#info-delivery-assigned').show();

            $.ajax({
                type: "GET",
                url: "/api/v1/deliveries",
                data: {
                    id: deliveryId
                },
                contentType: "application/json; charset=utf-8",
                success: function(data, textStatus, jqXHR) {
                    data = data[0]
                    lastReceivedData = data
                    $('#assigned-delivery-customer').text(data['customerId']);
                    $('#assigned-delivery-origin').text(data['originAddr']);
                    $('#assigned-delivery-destination').text(data['deliveryAddr']);
                    $('#assigned-delivery-latitude').text(data['latitude']);
                    $('#assigned-delivery-longitude').text(data['longitude']);
                    $('#assigned-delivery-state').text(data['deliveryState']);
                }
            });
        };

        const on_connect = function() {
            console.log('connected');
            client.subscribe('/exchange/spring-boot-exchange/' + notificationTopic, on_message);
        };

        const on_error = function() {
            console.log('error');
        };

        client.connect('guest', 'guest', on_connect, on_error);

        // Update modal with info from clicked row
        $('td > button').click(function (event) {
            let clickedButton = event.delegateTarget;
            let splitId = clickedButton.id.split('-');
            let deliveryId = splitId[splitId.length - 1];

            $('#modal-attrs-delivery').val(deliveryId);
        });

        $('#modal-btn-confirm').click(function (event) {
            let url = $('#modal-attrs-url').val();
            $.ajax({
                type: "POST",
                url: url + "?basicAuth=" + btoa(riderId),
                data: JSON.stringify({
                    ridersId: riderId,
                    deliveryId: $('#modal-attrs-delivery').val(),
                    distance: null
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            });
        });
    </script>

</body>
</html>