<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="base :: head"></th:block>

    <title>Login - Qourier</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <div>
                        <h2>Login</h2>
                        <br>

                        <form method="POST" action="index.html" th:action="@{/login}" th:object="${loginRequest}" class="login-register-form" id="login-form">
                            <div class="form-group">
                                <label for="email"><i class="fa fa-envelope"></i></label>
                                <input type="text" th:field="*{email}" name="email" id="email" placeholder="Email"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="fa fa-lock"></i></label>
                                <input type="password" th:field="*{password}" name="password" id="password" placeholder="Password"/>
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="login" id="login" class="form-submit" value="Log in"/>
                            </div>
                        </form>

                        <br>
                        <div>
                            <a href="register_rider.html" th:href="@{/register_rider}">
                                <button id="btn-register-rider" type="button" class="btn btn-primary">Register as Rider</button>
                            </a>
                        </div>
                        <br>
                        <div>
                            <a href="register_customer.html" th:href="@{/register_customer}">
                                <button id="btn-register-customer" type="button" class="btn btn-primary">Register as Customer</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="base :: scripts"></th:block>

</body>
</html>