<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="base :: head"></th:block>

    <title>Monitor - Qourier</title>
</head>
<body>

<!--  ADMIN  -->

    <nav th:replace="base :: navbar"></nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Message broker status</h2>
                <div class="row">
                    <iframe id="panel0" src="http://51.142.110.251:3000/d-solo/Kn5xm-gZk/rabbitmq-overview?orgId=1&refresh=15s&panelId=64" width="210" height="200" frameborder="0"></iframe>
                    <iframe id="panel1" src="http://51.142.110.251:3000/d-solo/Kn5xm-gZk/rabbitmq-overview?orgId=1&refresh=15s&panelId=62" width="210" height="200" frameborder="0"></iframe>
                    <iframe id="panel2" src="http://51.142.110.251:3000/d-solo/Kn5xm-gZk/rabbitmq-overview?orgId=1&refresh=15s&panelId=66" width="210" height="200" frameborder="0"></iframe>
                    <iframe id="panel3" src="http://51.142.110.251:3000/d-solo/Kn5xm-gZk/rabbitmq-overview?orgId=1&refresh=15s&panelId=37" width="210" height="200" frameborder="0"></iframe>
                    <iframe id="panel4" src="http://51.142.110.251:3000/d-solo/Kn5xm-gZk/rabbitmq-overview?orgId=1&refresh=15s&panelId=40" width="210" height="200" frameborder="0"></iframe>
                    <iframe id="panel5" src="http://51.142.110.251:3000/d-solo/Kn5xm-gZk/rabbitmq-overview?orgId=1&refresh=15s&panelId=65" width="210" height="200" frameborder="0"></iframe>
                    <iframe id="panel6" src="http://51.142.110.251:3000/d-solo/Kn5xm-gZk/rabbitmq-overview?orgId=1&refresh=15s&panelId=63" width="210" height="200" frameborder="0"></iframe>
                    <iframe id="panel7" src="http://51.142.110.251:3000/d-solo/Kn5xm-gZk/rabbitmq-overview?orgId=1&refresh=15s&panelId=41" width="210" height="200" frameborder="0"></iframe>
                    <iframe id="panel8" src="http://51.142.110.251:3000/d-solo/Kn5xm-gZk/rabbitmq-overview?orgId=1&refresh=15s&panelId=38" width="210" height="200" frameborder="0"></iframe>
                    <iframe id="panel9" src="http://51.142.110.251:3000/d-solo/Kn5xm-gZk/rabbitmq-overview?orgId=1&refresh=15s&panelId=67" width="210" height="200" frameborder="0"></iframe>
                </div>
                <br>
                <br>
                <br>
                <h2>Network Monitoring</h2>
                <div class="row">
                    <iframe id="panel10" src="http://51.142.110.251:3000/d-solo/C0jeDstZk/erlang-distributions-compare?orgId=1&refresh=15s&theme=light&panelId=58" width="525" height="300" frameborder="0"></iframe>
                    <iframe id="panel11" src="http://51.142.110.251:3000/d-solo/C0jeDstZk/erlang-distributions-compare?orgId=1&refresh=15s&theme=light&panelId=57" width="525" height="300" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="base :: scripts"></th:block>
    <script th:src="@{/scripts/base.js}" src="../static/scripts/base.js"></script>

</body>
</html>