<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="base :: head"></th:block>

    <title>Customer - Qourier</title>
</head>
<body>

    <nav th:replace="base :: navbar"></nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="details-name" th:text="${customer.account.name}">Cristina Laundry</h2>
                <h4><i id="account-type">Customer</i></h4>

                <h3>Details</h3>

                <p>State: <span id="details-state" th:text="${customer.account.state.name().toLowerCase()}">active</span></p>
                <p>Email: <span id="details-email" th:text="${customer.account.email}">cristina@mail.com</span></p>
                <p>Registration time: <span id="details-registration-time" th:text="${customer.account.registrationTime}"></span></p>
                <p>Service type: <span id="details-service-type" th:text="${customer.servType}">Laundry</span></p>
            </div>
        </div>
        <div id="statistics-section" class="row" th:if="${accepted}">
            <div class="col-12">
                <h3>Statistics</h3>

                <h5 id="statistics-delivery-request-rate">Rate of delivery requests (per hour):
                    <span id="stat-delivery-request-rate" th:text="${statsDeliveryRequestRate}"></span>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Other</h3>

                <th:block id="admin-space" th:if="${role.name() == 'ADMIN'}">
                    <form method="POST" href="#" th:action="@{/profile/{action}/{id}(action=${active ? 'suspend' : 'activate'},id=${customer.account.email})}">
                        <button id="toggle-account" type="submit" class="btn btn-primary">
                            <span th:text="${active ? 'Suspend' : 'Activate'}">Activate</span> account
                        </button>
                    </form>
                </th:block>

                <th:block id="customer-space" th:if="${role.name() == 'CUSTOMER'}">
                    <button id="api-key-btn" class="btn btn-success" type="button" data-toggle="collapse" data-target="#api-key-spoiler" aria-expanded="false" aria-controls="api-key-spoiler">
                        API Key
                    </button>
                    <div class="collapse" id="api-key-spoiler">
                        <div class="card card-body">
                            <span id="api-key" th:text="${apiKey}">mvm8934mv934hg0v9h23029m2378gr</span>
                        </div>
                    </div>
                </th:block>

                <input id="attrs-state" type="hidden" value="ACTIVE" th:value="${customer.account.state.name()}" />
            </div>
        </div>
    </div>

    <th:block th:include="base :: scripts"></th:block>
    <script th:src="@{/scripts/base.js}" src="../static/scripts/base.js"></script>

</body>
</html>