<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="base :: head"></th:block>

    <title>Qourier</title>
    <style>  
        .checked {  
            font-size : 20px;  
        }  
        .unchecked {  
            color : rgb(156, 156, 156);  
            font-size : 20px;  
        }  
    </style>  
</head>
<body>

    <nav th:replace="base :: navbar"></nav>

    <div class="container">
        <h2>Rider's Progress</h2>
        <p>Progress for each rider's delivery:</p> 
        <div class="row">
            <div class="col-12">
                <table id="progress-table" class="table">
                    <thead id="progress-table-head" class="thead-dark">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Rider</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Progress</th>
                      </tr>
                    </thead>
                    <tbody id="progress-table-body">
                        <tr th:each="delivery : ${deliveries}">
                            <th scope="row" th:text="${delivery.deliveryId}">1</th>
                            <td th:text="${delivery.customerId}">Cristina Laundry</td>
                            <td th:text="${delivery.riderId}">Mark</td>
                            <td th:text="${delivery.creationTime}">25/5/22 10:22</td>
                            <td>
                                <div class="progress">
                                    <th:block th:switch="${delivery.deliveryState.name()}">
                                        <div th:case="'BID_CHECK'" th:id="'delivery-' + ${delivery.deliveryId}"
                                             class="progress-bar progress-bar-striped active" role="progressbar"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                             style="width:25%">
                                            25% (Bid check)
                                        </div>
                                        <div th:case="'FETCHING'" th:id="'delivery-' + ${delivery.deliveryId}"
                                             class="progress-bar progress-bar-striped active" role="progressbar"
                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                             style="width:50%">
                                            50% (Fetching)
                                        </div>
                                        <div th:case="'SHIPPED'" th:id="'delivery-' + ${delivery.deliveryId}"
                                             class="progress-bar progress-bar-striped active" role="progressbar"
                                             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                             style="width:75%">
                                            75% (Shipped)
                                        </div>
                                        <div th:case="'DELIVERED'" th:id="'delivery-' + ${delivery.deliveryId}"
                                             class="progress-bar progress-bar-striped active" role="progressbar"
                                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                             style="width:100%">
                                            100% (Delivered)
                                        </div>
                                    </th:block>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <th:block th:include="base :: scripts"></th:block>
    <script th:src="@{/scripts/base.js}" src="../static/scripts/base.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>

    <script>
        const ws = new WebSocket('ws://' + window.location.hostname + ':15674/ws');
        const client = StompJs.Stomp.over(ws);

        const on_message = function(msg) {
            console.log('received: ' + msg);
            lastReceivedNotification = msg;
            let msgData = JSON.parse(lastReceivedNotification.body);
            let deliveryId = msgData['deliveryId'];
            let state = msgData['state'];

            switch (state) {
                case 'BID_CHECK':
                    updateDeliveryState(deliveryId, 'Bid check', '25%');
                    break;
                case 'FETCHING':
                    updateDeliveryState(deliveryId, 'Fetching', '50%');
                    break;
                case 'SHIPPED':
                    updateDeliveryState(deliveryId, 'Shipped', '75%');
                    break;
                case 'DELIVERED':
                    updateDeliveryState(deliveryId, 'Delivered', '100%');
                    break;
            }
        };

        const on_connect = function() {
            console.log('connected');
            client.subscribe('/exchange/spring-boot-exchange/' + notificationTopic, on_message);
        };

        const on_error = function() {
            console.log('error');
        };

        client.connect('guest', 'guest', on_connect, on_error);

        const updateDeliveryState = function (deliveryId, state, progress) {
            let progressBar = $('#delivery-' + deliveryId);
            progressBar.text(progress + ' (' + state + ')');
            progressBar.css('width', progress);
            progressBar.attr('aria-valuenow', progress.substring(0, progress.length-1))
        };
    </script>

</body>
</html>